HELP.md
*.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.gen.go
/src/database/interfaces/business_buy_goods.gen.go
/src/database/interfaces/business_to_customer.gen.go
/src/database/interfaces/customer_to_business.gen.go
/src/database/interfaces/gen.go
/src/database/interfaces/gorp_migrations.gen.go
/src/database/interfaces/initiator.gen.go
/src/database/interfaces/mpesa_express.gen.go
